.sidebar ul{
	list-style-type: none; 
	width: 175px;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	background-color: F63;}
.sidebar ul li {
	font-size: 12px;
	display: block;
	color:#000; 
	text-decoration: none; 
	padding: 5px;} 
	
.sidebar ul li a{
	font-size: 12px;
	display: block;
	color:#333;
	margin: 1px 9px;
	text-decoration: none;
	border-bottom: 1px solid #F96; 
	padding: 2px;} 
.sidebar ul li a:hover{background-color:#F1EEEB;}
 
.sidebar ul li.dash {
	font-size: 15px;
	display: block;
	color:#000; 
	text-decoration: none; 
	padding: 5px;}
.sidebar ul li.dash a{
	font-size: 15px;
	display: block;
	color:#333;
	margin: 1px 9px;
	text-decoration: none; 
	padding: 3px;
	border-bottom: 0px solid #F96; 
}
.sidebar ul li.dash a:hover{
	background-color:#DBDBDB;
}
	
 
 
  /* The alert message box */
.alert {
	font-family: arial;
	font-size: 12px;
	padding: 10px;
	background-color: #DBDBDB; /* Red */
	color: red; 
	margin-left: 0px;
	margin-right: 0px; 
 	margin-bottom: 10px;
	 font-weight: bold;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

 